.mainDipalyCard {
    width         : 250px;
    margin-top    : 20px;
    padding       : 12px 16px 0px;
    font-size     : 12px;
    display       : flex;
    flex-direction: column;
    margin-left   : 10px;

}

/* .mainDipalyCard:hover{
    width         : 250px;
    margin-top    : 20px;
    padding       : 12px 16px 0px;
    font-size     : 12px;
    display       : flex;
    flex-direction: column;
    margin-left   : 10px;

} */

#EditmainDipalyCard {

    position: relative;
    overflow-wrap : break-word;
    width    : 500px;
    padding  : 12px 16px 0px;
    font-size: 12px;


}


#titleRow {
    font-size         : 15px;
    display           : flex;
    flex-direction    : row;
    /* justify-content: space-between */
}

#title-show {
    width         : 90%;
    display       : flex;
    flex-direction: column;
    overflow-wrap : break-word;

}

#EditTitle-show {
    width         : 100%;
    display       : flex;
    flex-direction: column;
 
    

}

#msgDisp-part {
    width         : 90%;
    margin-top    : 10px;
    display       : flex;
    flex-direction: column;
    overflow-wrap : break-word;

}

.utility-part {

    margin-top     : 20px;
    margin-bottom  : 10px;
    display        : flex;
    flex-direction : row;
    justify-content: space-between
}


#pinupImg {
    width: auto;
}


#popper {
    background-color: white;
    margin-top      : -10px;
    width           : 163px;
    border          : 1px solid rgb(201, 198, 198);
    border-radius   : 5px;
    box-shadow      : 0 3px 3px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
}

#typographyEdit {
    margin-top  : 10px;
    font-size   : 15px;
    height      : 30px;
    text-align  : justify;
    text-justify: inter-word;
    color       : rgb(78, 76, 76)
}

#delete-note {
    margin-left: 20px
}

#typographyEdit:hover {
    background-color: rgb(199, 194, 194)
}

#EditBtn {
    height    : 30px;
    margin-top: -10px;
}

#EditBtn:hover {
    background-color: rgb(252, 247, 247);
    transition      : 0.2s
}

#close-btn {
    height: 30px;

}

#chip-date-time{
height: auto;
font-size: 10px;
margin-top: 15px;
cursor: pointer;
}

#chiplabelAdded{
    font-size: 10px;
    margin-top: 10px;
    margin-left: 5px;
    height: 20px;
    cursor: pointer;   
}


#Chip-reminder{
    background-color: white;
    width           : 260px;
    padding: 15px 15px 15px 15px;
    height          : 239px;
    border          : 1px solid rgb(201, 198, 198);
    border-radius   : 8px;
    box-shadow      : 0 3px 3px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
 
}

#chip-pickDate{
    display :flex;
    flex-direction: row;
    justify-content: space-between;

}
#backBtn{

    width: 20px;
    cursor: pointer;
}

#backBtn:hover{
    opacity: 0.7;
}

#pickdate-font{
    font-size: 14px;
    margin-right: 140px;
}

#Chip-line{
    height: 1px;
    width: 100%;
    margin-top: 10px;
    background-color: rgb(163, 159, 159);
}

#chipCalender{
    margin-top: 20px;
   
}

#date{
    width: 260px;
    cursor: pointer;
    font-size: 14px;
}

.labelsAdded{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#Chip-line2{
    height: 1px;
    width: 100%;
    margin-top: 5px;
    background-color: rgb(163, 159, 159);
}
#chip-time{
    margin-top: 20px;
    cursor: pointer;
}

#chip-reminder-priority{
    margin-top: 20px;
    cursor: pointer;
}

#chip-time-popper{

    background-color: white;
    width: 246px;
   
    padding: 6px 6px;
    border          : 1px solid rgb(201, 198, 198);
    border-radius   : 8px;
    box-shadow      : 0 3px 3px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
}

#morning{
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

#morning:hover{
    background-color: rgb(238, 235, 235)
}

#mornig-title{
    font-size: 14px;
    color: rgb(71, 71, 71)
}

#afternoon{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
#afternoon:hover{
    background-color: rgb(238, 235, 235)
}

#evening{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
#evening:hover{
    background-color: rgb(238, 235, 235)
}
#night{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

#night:hover{
    background-color: rgb(238, 235, 235)
}

#saveBtnDiv{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end
}


#saveBtn{
   
    border          : none;
    font-size       : 14px;
    font-weight     : bold;
    color           : rgb(61, 60, 60);
    height          : 30px;
    background-color: transparent;
    cursor: pointer;
}

.OnGridChange{
    
        width         : 550px;
        margin-top    : 20px;
        padding       : 12px 16px 0px;
        font-size     : 12px;
        display       : flex;
        flex-direction: column;
        margin-left   : 170px;
}

@media (max-width: 580px) {

.mainDipalyCard {
    width         : 480px;
    margin-top    : 20px;
    padding       : 12px 16px 0px;
    font-size     : 12px;
    display       : flex;
    flex-direction: column;

}


}
