.forgotContainer {
    height        : 100vh;
    display       : flex;
    flex-direction: column;
    text-align    : center
}

.forgotmainPart {

    min-height    : 400px;
    width         : 405px;
    border        : 1px solid rgb(190, 186, 186);
    border-radius : 10px;
    margin        : auto auto;
    display       : flex;
    flex-direction: column;

    padding: 48px 40px 36px;
}

#appTitle {
    height         : auto;
    width          : auto;
    font-size      : 20px;
    display        : flex;
    flex-direction : row;
    justify-content: center;

}

#findTitle {

    height         : auto;
    width          : auto;
    font-size      : 23px;
    margin-top     : 10px;
    display        : flex;
    flex-direction : row;
    justify-content: center;

}

#recoverEmail {

    height         : auto;
    width          : auto;
    color          : rgb(51, 50, 50);
    font-size      : 17px;
    margin-top     : 10px;
    display        : flex;
    flex-direction : row;
    justify-content: center;

}

#EmailTextField {
    height             : 70px;
    width              : auto;
    margin-top         : 40px;
    display            : flex;
    flex-direction     : row;
    justify-content    : flex-start;
    /* background-color: royalblue */
}

#emailField {

    width : 350px;
    height: 8px;
}

#submitBtnDiv{

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 35px;
}

#submitBtn {

    color           : white;
    border          : none;
    font-size       : 15px;
    font-weight     : bold;
    margin-right    : -4px;
    height          : 34px;
    width           : 90px;
    border-radius   : 5px;
    background-color: rgb(58, 137, 240);
    
    
}