.MainContainer {
    height         : 90vh;
    width          : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: flex-start;

    margin    : 10px auto;
    margin-top: 100px
}

.header {

    height        : 40px;
    width         : 1331px;
    border-bottom : 1px solid rgb(224, 223, 223);
    padding       : 10px 10px;
    display       : flex;
    flex-direction: row;

    justify-content: space-between
}

.menuWithLogo {
    height        : 50px;
    width         : 150px;
    display       : flex;
    flex-direction: row;

    justify-content: space-between;
    align-items    : center;
    align-content  : center
}

.searchbar {
    height          : 40px;
    max-width       : 600px;
    margin-left     : 30px;
    background-color: transparent;
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    justify-content : center;
    border-width    : 1px;
    border          : 1px solid rgb(201, 196, 196);
    border-radius   : 10px 10px 10px 10px;
    align-items     : center
}

.accountDetailsPart {
    height: 50px;
    width : 300px;

    display: flex;

    flex-direction : row;
    justify-content: space-between;
    align-content  : center;
    align-items    : center
}




#setting {
    height       : 40px;
    width        : 40px;
    border-radius: 50%;

}

#appIcon {


    display        : flex;
    flex-direction : row;
    justify-content: space-around;
    align-content  : center;
    align-items    : center
}

#appIcon:hover {
    background-color: rgb(233, 225, 225);
}


#profilelogo {
    height       : 40px;
    width        : 40px;
    border-radius: 50%;

    display       : flex;
    flex-direction: row;

    justify-content: space-around;
    align-content  : center;
    align-items    : center
}

#profile {
    height       : 30px;
    width        : 30px;
    border-radius: 50%;


}



#profilelogo:hover {
    background-color: rgb(233, 225, 225);
}

#menuIcon {
    height: 50px;
    width : 50px;

    border-radius: 50%;
}

#menuIcon:hover {
    background-color: rgb(233, 225, 225);
}

#logo {
    height: 50px;
    width : 100px;

    display        : flex;
    flex-direction : row;
    justify-content: space-between
}

#logoImg {

    height: 50px;
    width : 45px;

}


#menuImg {
    height    : 47px;
    width     : 47px;
    margin-top: -12px;
}

#svgImg {
    height: 40px;
    width : 40px;
}


#label {
    margin-top: 10px;
    font-size : 10px;
}

#searchicon {
    height      : 51px;
    width       : 74px;
    margin-right: 3px;

}

#searchField {
    height: 40px;
    width : auto;

}

#searchtext {
    border: none;
    width : 500px;
    height: 25px;

}

#searchCroxBtn {
    height     : 51px;
    width      : 74px;
    margin-left: 3px;

}



#searchimg {
    margin-top : 10px;
    margin-left: 16px;
    height     : 30px;
    width      : 30px;
    background : none
}

#crossimg {
    margin-top: 15px;
    height    : 15px;
    width     : 15px;
}

.noteparent {

    /* width              : 70%;
  
    margin-left           : 260px; */
    /* transition         : 0.5s; */
    /* margin-left        : 260px; */
    margin-left           : 300px;
    transition            : 0.3s;
}

.noteParentAfter {

    /* width              : 70%;
  
    margin-left           : 260px; */
    /* transition         : 0.5s; */
    /* margin-left        : 260px; */
    margin-left           : 170px;
    transition            : 0.3s;
}
.note-title-box{
    width: 550px;
    padding: 12px 16px;
    font-size: 17px;
    font-weight: bold;
    border: 1px solid rgb(219, 216, 216);
    
}

.note-container {
    width  : 700px;
    display: flex;
    flex-direction: column;
    margin: 0px auto
}


.toolbar {

    background-color: white;
    display         : flex;
    flex-direction  : row;

}

#fundooImg {
    margin-left: 20px;

}

#appName {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    margin-left   : 20px;
    color         : rgb(141, 138, 138)
}

#menubtn {

    height         : 40px;
    width          : 40px;
    display        : flex;
    flex-direction : row;
    justify-content: center;

}

#fundooImgsrc {

    height: 40px;
    width : 40px;
}

#searchBar {

    min-width  : 600px;
    margin-left: 50px;

}


.note-listForColumn {

    max-width     : 660px;
    background    : yellow;
    display       : flex;
    margin-right  : 60px;
    flex-direction: column;
    flex-wrap     : wrap;
    margin        : 25px auto
}

.mainInputCard {
    width         : 550px;
    padding       : 12px 16px;
    font-size     : 12px;
    display       : flex;
    flex-direction: column;
    border-radius : 20px;
    font-weight   : bold
}

.popupContainer {

    height          : auto;
    width           : 90%;
    display         : flex;
    flex-direction  : column;
    justify-content : flex-start;
    background-color: transparent;
    position        : relative;
    margin-top      : 67px;
    margin-left     : 235%;
    /* margin-left  : 220%; */

}

/* #refreshIcon {
    height         : 40px;
    width          : 40px;
    margin-top     : 4px;
    border-radius  : 50%;
    display        : flex;
    flex-direction : row;
    justify-content: center;
} */

#gridIcon {

    height         : 40px;
    margin-top     : 4px;
    width          : 40px;
    display        : flex;
    flex-direction : row;
    justify-content: center;
    border-radius  : 50%;
    margin-right   : 10px;

}

#refreshImg{

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

#refImg {
    height: 25px;
    width : 25px;
}

#refreshImg {
    height: 23px;
    width : 23px;
}

.setting-grid {

    width  : 60%;
    height : 50px;
    display: flex;

    flex-direction : row;
    justify-content: space-around;


}

#popup {

    height          : 410px;
    width           : 356px;
    padding         : 10px;
    background-color: white;
    border          : 1px solid gray;
    border-radius   : 10px;
    box-shadow      : 0 14px 28px rgba(0, 0, 0, 0.30), 0 10px 10px rgba(0, 0, 0, 0.10);


}

#refreshIcon:hover {

    background-color: rgb(233, 225, 225);

}

#gridIcon:hover {
    background-color: rgb(233, 225, 225);
}


#listItem {
    /* background-color: red; */
}

#item1 {
    /* width        : auto;    
    background-color: yellow */
}

.icons-in-row {
    width: 70%;
    /* background-color: red; */
    display        : flex;
    flex-direction : row;
    justify-content: space-between
}

.utilityIcons {
    margin-top     : 13px;
    margin-bottom  : 10px;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;

}

#Closebtn {


    border          : none;
    font-size       : 15px;
    font-weight     : bold;
    color           : rgb(61, 60, 60);
    width           : 100px;
    height          : 30px;
    background-color: transparent
}

#Closebtn:hover {
    background-color: rgb(233, 229, 229);
    cursor          : pointer;
}


@media (max-width: 900px) {
    .popupContainer {
        margin-left: 130%;
    }
}


.userDetailsPart {
    width           : 350px;
    display         : flex;
    flex-direction  : row;
    justify-content : space-evenly;
    height          : 40px;
  
    margin-left     : 30px;
}

.refreshAndGrid {
   
    height          : 30px;
    display         : flex;
    flex-direction  : row;
    width           : 50%;
    margin-top      : 5px;
    margin-left     : 10px;
}

#profileIcon {

    height          : 30px;
    width           : 30%;
    display         : flex;
    flex-direction  : row;
    margin-top      : 5px;

}

#refreshImg {

    height: 25px;
    width : 25px;
}

#grid{

    margin-left: 30px
}

#profile-icon{

    height: 40px;
    width: 40px;
    margin-top: -5px;
}
#avtar{
    margin-top: -6px;
    height: 30px;
    width: 30px;
    
}

#note{
    background-color: rgb(247, 242, 185);
    border-radius: 0px 20px 20px 0px;
}

#drawerManage{
 
}

#editItems{
    display: flex;
    flex-direction: column;
}