
.MainContainer {
    height         : 90vh;
    width          : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: flex-start;

    margin    : 10px auto;
    margin-top: 15px
}

.header {

    height        : 40px;
    width         : 1331px;
    border-bottom : 1px solid rgb(224, 223, 223);
    padding       : 10px 10px;
    display       : flex;
    flex-direction: row;

    justify-content: space-between
}

.menuWithLogo {
    height        : 50px;
    width         : 150px;
    display       : flex;
    flex-direction: row;

    justify-content: space-between;
    align-items    : center;
    align-content  : center
}

.searchbar {
    height          : 40px;
    width           : 600px;
    margin-left     : 30px;
    background-color: transparent;
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    justify-content : center;
    border-width    : 1px;
    border          : 1px solid rgb(201, 196, 196);
    border-radius   : 15px 15px 15px 15px;
    align-items     : center
}

.accountDetailsPart {
    height: 50px;
    width : 300px;

    display: flex;

    flex-direction : row;
    justify-content: space-between;
    align-content  : center;
    align-items    : center
}




#setting {
    height       : 40px;
    width        : 40px;
    border-radius: 50%;

}

#appIcon {


    display        : flex;
    flex-direction : row;
    justify-content: space-around;
    align-content  : center;
    align-items    : center
}

#appIcon:hover {
    background-color: rgb(233, 225, 225);
}


#profilelogo {
    height       : 40px;
    width        : 40px;
    border-radius: 50%;

    display       : flex;
    flex-direction: row;

    justify-content: space-around;
    align-content  : center;
    align-items    : center
}

#profile {
    height       : 30px;
    width        : 30px;
    border-radius: 50%;


}



#profilelogo:hover {
    background-color: rgb(233, 225, 225);
}

#menuIcon {
    height: 50px;
    width : 50px;

    border-radius: 50%;
}

#menuIcon:hover {
    background-color: rgb(233, 225, 225);
}

#logo {
    height: 50px;
    width : 100px;

    display        : flex;
    flex-direction : row;
    justify-content: space-between
}

#logoImg {

    height: 50px;
    width : 45px;

}

#keep {
    color    : rgb(110, 108, 108);
    font-size: 23px;

    height    : 20px;
    width     : 45px;
    margin-top: 10px;

}

#menuImg {
    height: 50px;
    width : 50px;

}

#svgImg {
    height: 40px;
    width : 40px;
}


#label {
    margin-top: 10px;
    font-size : 10px;
}

#searchicon {
    height      : 51px;
    width       : 74px;
    margin-right: 3px;

}

#searchField {
    height: 40px;
    width : auto;

}

#searchtext {
    border: none;
    width : 500px;
    height: 25px;

}

#searchCroxBtn {
    height     : 51px;
    width      : 74px;
    margin-left: 3px;

}

#searchimg {
    margin-top : 10px;
    margin-left: 16px;
    height     : 30px;
    width      : 30px;
    background : none
}

#crossimg {
    margin-top: 15px;
    height    : 15px;
    width     : 15px;
}

.noteparent {
    /* width              : 70%;
    background-color      : greenyellow;
    margin-left           : 260px; */
    /* transition         : 0.5s; */
    /* margin-left        : 260px; */
    margin-left           : 260px;
    transition            : 0.3s;
}

.note-container {
    width  : 600px;
    display: flex;

    flex-direction: column;

    margin: 0px auto
}

.note-list {

    max-width     : 1000px;
    /* background : yellow; */
    display       : flex;
    margin-left   : 50px;
    flex-direction: row;
    flex-wrap     : wrap;
    margin        : 25px auto
}

.note-listForColumn {

    max-width     : 660px;
    background : yellow;
    display       : flex;
    margin-right   : 60px;
    flex-direction: column;
    flex-wrap     : wrap;
    margin        : 25px auto
}

.mainInputCard {
    width         : 600px;
    padding       : 12px 16px;
    font-size     : 12px;
    display       : flex;
    flex-direction: column;
    border-radius : 20px;
    font-weight   : bold
}

.popupContainer {

    height          : auto;
    width           : 90%;
    display         : flex;
    flex-direction  : column;
    justify-content : flex-start;
    background-color: transparent;
    position        : relative;
    margin-top      : 60px;
    margin-left     : 235%;
    /* margin-left  : 220%; */

}

#refreshIcon {
    height       : 40px;
    width        : 40px;
    margin-top   : 4px;
    border-radius: 50%;

    display        : flex;
    flex-direction : row;
    justify-content: center;
}

#gridIcon {

    height         : 40px;
    margin-top     : 4px;
    width          : 40px;
    display        : flex;
    flex-direction : row;
    justify-content: center;
    border-radius  : 50%;
    margin-right   : 10px;

}

#refresh {
    height    : 30px;
    margin-top: 4.5px;
    width     : 30px;

    border-radius: 50%;
}

#refreshImg {
    height: 30px;
    width : 30px;
}

.setting-grid {

    width  : 60%;
    height : 50px;
    display: flex;

    flex-direction : row;
    justify-content: space-around;


}

#popup {

    height          : 410px;
    width           : 356px;
    padding         : 10px;
    background-color: white;
    border          : 1px solid gray;
    border-radius   : 10px;
    box-shadow      : 0 14px 28px rgba(0, 0, 0, 0.30), 0 10px 10px rgba(0, 0, 0, 0.10);


}

#refreshIcon:hover {

    background-color: rgb(233, 225, 225);

}

#gridIcon:hover {
    background-color: rgb(233, 225, 225);
}


#listItem {
    /* background-color: red; */
}

#item1 {
    /* width        : auto;    
    background-color: yellow */
}

.icons-in-row {
    width: 70%;

    display        : flex;
    flex-direction : row;
    justify-content: space-between
}

.utilityIcons {
    margin-top     : 13px;
    margin-bottom  : 10px;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;

}

#Closebtn {


    border          : none;
    font-size       : 15px;
    font-weight     : bold;
    color           : rgb(61, 60, 60);
    width           : 100px;
    height          : 30px;
    background-color: transparent
}

#Closebtn:hover {
    background-color: rgb(233, 229, 229);
    cursor          : pointer;
}


@media (max-width: 900px) {
    .popupContainer {
        margin-left: 130%;
    }
}