.Rcontainer{
    height        : 100vh;
    display       : flex;
    flex-direction: column;
    text-align    : center
}

#resetTitie{

    font-size: 18px;
    
}

.RpasswrdContainer{

    min-height    : 500px;
    width         : 405px;
    border        : 1px solid rgb(190, 186, 186);
    border-radius : 10px;
    margin        : auto auto;
    display       : flex;
    flex-direction: column;
    padding: 48px 40px 36px;
}

#confirmPasswordField{

}

#RPasswordField{
    margin-top: 20px;
}

.ResetBtn{

    display: flex;
    flex-direction: row;
    margin-right: 16px;
    margin-top: 50px;
    justify-content: flex-end;
}
