.body{

    height: 100vh
}

.mainContainer {

    width           : 448px;
    height          : 80vh;
    padding         : 10px;
    display         : flex;
    flex-direction: column;
    position        : relative;
    top             : 50%;
    left            : 50%;
    background-color: transparent;
    transform       : translate(-50%, -50%);
    box-sizing      : content-box;
    border          : 1px solid rgb(201, 196, 196);
    border-radius   : 10px;
    flex-wrap: wrap


}

.loginDisp{

    
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
}

#img {
    width           : 100%;
    height          : 40px;
    position        : relative;
    text-align      :center;
  
}


#signIn{
margin-top: 20px;
text-align: center;
font-size: 25px;
}

#headingAccount{

    height: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px 0px 0px;

}

@media (min-width: 1200px) {}

/* @media (max-width: 601px){
    
    .mainContainer{
        width: 100%;
       
        height    : 100vh;
        min-height: 500px;
        overflow-y:auto; 
  
    }
} */