

#EditutililityIcons {
    width: 70%;

    margin-top     : 40px;
    display        : flex;
    flex-direction : row;
    justify-content: space-evenly;

}

.utility-icons{
    display: flex;
    flex-direction : row;
    height: 20px;
   
}

#moreimg {
    height: 20px;
    width : 20px;
}


#closeBtn {
    position   : absolute;
    margin-left: 280px;
}

#EditBtn {
    border          : none;
    font-size       : 15px;
    color           : gray;
    border-radius   : 5px;
    margin-bottom   : 20px;
    background-color: transparent;
    height          : 40px;
    width           : 100px;
    cursor          : pointer;
}

#remindMe{
    height: 30px;
    width: 30px;
}

#remindIcon{
    height: 20px;
    width: 20px;
}

.collabs{
    margin-left: 20px;
}

.For-Dashboard-Collabs{
    margin-left: 35px;
}


.color{
    margin-left: 20px;
}

.For-Dashboard-color{
    margin-left: 35px;
}


.addImg{
    margin-left: 20px;
}



.For-Dashboard-addImg{
    margin-left: 35px;
}

.archive{
    margin-left: 20px;
}

.For-Dashboard-archive{
    margin-left: 35px;
}

.more{
    margin-left: 20px;
}

.For-Dashboard-more{
    margin-left: 35px;
}

.reminder:hover{
    opacity: 0.7;
    cursor: pointer;
}

.collabs:hover{
    opacity: 0.7;
    cursor: pointer;
}

.color:hover{
    opacity: 0.7;
    cursor: pointer;
}

.addImg:hover{
    opacity: 0.7;
    cursor: pointer;
}
.archive:hover{
    opacity: 0.7;
    cursor: pointer;
}

.more:hover{
    opacity: 0.7;
    cursor: pointer;
}

#addLabelPopper{
   
   background-color: white;
   padding: 5px 5px 5px 5px;
   border-radius: 3px;
   
   width: 220px;
}

#reminder-Popper{
width: 300px;
height: 46px;
}